body {
    margin: 0;
    padding: 0;
    font-family: '標楷體', Arial, sans-serif;
    position: relative; /* 添加相對定位 */
    background-image: url('背景圖片.jpg');
    background-size: cover; /* 調整背景大小覆盖整個面 */
    background-position: center; /* 背景放置在中心 */
    opacity: 0.9; /* 透明度 */
    }
   
    .scale {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .scale span {
        font-weight: bold;
        font-size: 20px;
    }
    .active {    /*按鈕顏色*/
        background-color: #00ff08;
        color: white;
    }
    
    body {
margin: 0;
padding: 20px 50px; /* 頁面添加上下各 20px，左右各50px的内邊距 */
}

footer {
background-color: #4CAF50;
text-align: center;
padding: 8px 0; /* 調整頁的上下內邊距 */
position: relative; /* 相對定位 */
width: calc(100% - 20px); /* 計算頁的寬度 */
margin: 0px; /* 頁添加左右邊距 */
}

.footer-placeholder {
height: 50px; /* 調整高度相同 */
}

    .green-background {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 30px;
    }