body {
    font-family: Arial, sans-serif;
            background-color: #d1f0c0;;
            margin: 0;
            padding: 0;
            }

.container {
    margin: 50px auto;
    max-width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.item {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    width: calc(30% - 20px);
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    background-color: #007bff; /* 鼠標懸停時的背景顏色 */
}




.item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
}

.item .title {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.item.selected {
    background-color: #007bff; /* 已選中的項目背景顏色 */
    color: #fff; /* 已選中的項目文字顏色 */
}

.option-group {
    margin-bottom: 20px;
    text-align: center;
}

.option-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.option {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.option.selected {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

