{% load my_filters %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選擇您的症狀</title>
    {% load static%}
    <link rel="stylesheet" href="question.CSS">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    body {
            background-color: #F5E8DD; /* 设置整个页面的背景颜色 */
        }
</style>
</head>
{% load static%}
<body>
    <div class="container-fluid">
        <div class="header row align-items-center">
            <div class="col-6">
                <a href="/index/">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Logo" style="height: 90px; width: auto;">
                </a>
            </div>
            <div class="col-6 text-end"> <!-- 占6列並右對齊的文本 -->
                {% if request.user.is_authenticated %}
                    {% csrf_token %}
                    <p>
                        顧客：{{ request.user.customer_name }} &nbsp;&nbsp;
                        電話號碼：{{ request.user.customer_id|mask_phone }} &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/history/">歷史紀錄</a>&nbsp;&nbsp;
                        <a href="/accounts/logout/">登出</a>
                    </p>
                {% else %}
                    <p>
                        您尚未登入喔~<a href="/accounts/login/">登入</a>
                        <br>若您還沒有帳號，請<a href="/accounts/register/">註冊</a>
                        <br>建議您登入帳號，方便紀錄您前一次的症狀來推薦您
                    </p>
                {% endif %}
            </div>
        </div>   
    </div>

    <h1 class="text-center mt-5">選擇您的症狀 (1症狀最輕 5症狀最重)</h1>

    <div class="container">
        <!-- 第一行 -->
        <div class="row">
            <div class="col-md-6">
                <div class="item" id="symptom1">
                    <img src="{% static 'images/睡不好.jpg' %}" alt="Item 1">
                    <div class="title">睡不好</div>
                    <button onclick="updateStrength('symptom-btn-1')" id="symptom-btn-1">1</button>
                    <button onclick="updateStrength('symptom-btn-2')" id="symptom-btn-2">2</button>
                    <button onclick="updateStrength('symptom-btn-3')" id="symptom-btn-3">3</button>
                    <button onclick="updateStrength('symptom-btn-4')" id="symptom-btn-4">4</button>
                    <button onclick="updateStrength('symptom-btn-5')" id="symptom-btn-5">5</button>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="item" id="symptom2">
                    <img src="{% static 'images/半暝還在嗨.jpg' %}" alt="Item 2">
                    <div class="title">半暝還在嗨</div>
                    <button onclick="updateStrength('semi-darkness-btn-1')" id="semi-darkness-btn-1">1</button>
                    <button onclick="updateStrength('semi-darkness-btn-2')" id="semi-darkness-btn-2">2</button>
                    <button onclick="updateStrength('semi-darkness-btn-3')" id="semi-darkness-btn-3">3</button>
                    <button onclick="updateStrength('semi-darkness-btn-4')" id="semi-darkness-btn-4">4</button>
                    <button onclick="updateStrength('semi-darkness-btn-5')" id="semi-darkness-btn-5">5</button>
                </div>
            </div>
        </div>
    
        <!-- 第二行 -->
        <div class="row">
            <div class="col-md-6">
                <div class="item" id="symptom3">
                    <img src="{% static 'images/早上哈啾.jpg' %}" alt="Item 3">
                    <div class="title">早上哈啾</div>
                    <button onclick="updateStrength('sneezing-btn-1')" id="sneezing-btn-1">1</button>
                    <button onclick="updateStrength('sneezing-btn-2')" id="sneezing-btn-2">2</button>
                    <button onclick="updateStrength('sneezing-btn-3')" id="sneezing-btn-3">3</button>
                    <button onclick="updateStrength('sneezing-btn-4')" id="sneezing-btn-4">4</button>
                    <button onclick="updateStrength('sneezing-btn-5')" id="sneezing-btn-5">5</button>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="item" id="symptom4">
                    <img src="{% static 'images/癢癢.jpg' %}" alt="Item 4">
                    <div class="title">癢癢</div>
                    <button onclick="updateStrength('itchiness-btn-1')" id="itchiness-btn-1">1</button>
                    <button onclick="updateStrength('itchiness-btn-2')" id="itchiness-btn-2">2</button>
                    <button onclick="updateStrength('itchiness-btn-3')" id="itchiness-btn-3">3</button>
                    <button onclick="updateStrength('itchiness-btn-4')" id="itchiness-btn-4">4</button>
                    <button onclick="updateStrength('itchiness-btn-5')" id="itchiness-btn-5">5</button>
                </div>
            </div>
        </div>
    
        <!-- 第三行 -->
        <div class="row">
            <div class="col-md-6">
                <div class="item" id="symptom5">
                    <img src="{% static 'images/胃生氣.jpg' %}" alt="Item 5">
                    <div class="title">胃生氣</div>
                    <button onclick="updateStrength('stomach-anger-btn-1')" id="stomach-anger-btn-1">1</button>
                    <button onclick="updateStrength('stomach-anger-btn-2')" id="stomach-anger-btn-2">2</button>
                    <button onclick="updateStrength('stomach-anger-btn-3')" id="stomach-anger-btn-3">3</button>
                    <button onclick="updateStrength('stomach-anger-btn-4')" id="stomach-anger-btn-4">4</button>
                    <button onclick="updateStrength('stomach-anger-btn-5')" id="stomach-anger-btn-5">5</button>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="item" id="symptom6">
                    <img src="{% static 'images/生理期.jpg' %}" alt="Item 6">
                    <div class="title">厭世生理期</div>
                    <button onclick="updateStrength('menstrual-anguish-btn-1')" id="menstrual-anguish-btn-1">1</button>
                    <button onclick="updateStrength('menstrual-anguish-btn-2')" id="menstrual-anguish-btn-2">2</button>
                    <button onclick="updateStrength('menstrual-anguish-btn-3')" id="menstrual-anguish-btn-3">3</button>
                    <button onclick="updateStrength('menstrual-anguish-btn-4')" id="menstrual-anguish-btn-4">4</button>
                    <button onclick="updateStrength('menstrual-anguish-btn-5')" id="menstrual-anguish-btn-5">5</button>
                </div>
            </div>
        </div>
    
        <!-- 第四行 -->
    <div class="row">
        <div class="col-md-12 bitter" style="text-align: center;"> <!-- 在較小屏幕上顯示為單列 -->
            <div class="item" id="symptom7">
                <div class="title">接受苦的程度</div>
                <button onclick="updateStrength('bitterness-btn-yes')" id="bitterness-btn-yes" name="bitter-btn" value="bitterness-btn-yes">可以</button>
                <button onclick="updateStrength('bitterness-btn-no')" id="bitterness-btn-no" name="bitter-btn" value="bitterness-btn-no">不行</button>
            </div>
        </div>
    </div>
</div>
    
        <!-- 確認按鈕 -->
        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <div class="row" style="text-align: center;">
                <form method="post" name="question">
                    {% csrf_token %}
                    <button type="submit" name="confirm_button" style="background-color: #18b7fa; color: #ffffff; padding: 15px 30px; font-size: 20px;">確認</button>
                </form>
            </div>
        </div>
    </div>
    

<script>
document.querySelector('form[name="question"]').addEventListener('submit', function(event) {
    var allSymptomsSelected = true;
    var isAuthenticated = "{{ request.user.is_authenticated }}";
    // 檢查是否所有症狀按鈕都被選中
    document.querySelectorAll('.item').forEach(function(item) {
        if (item.querySelectorAll('button.active').length < 1) {
            allSymptomsSelected = false;
        }
    });

    // 檢查是否選擇了接受苦的程度按鈕
    if (!document.getElementById('bitterness-btn-yes').classList.contains('active') &&
        !document.getElementById('bitterness-btn-no').classList.contains('active')) {
        allSymptomsSelected = false;
    }

    if (!allSymptomsSelected) {
        event.preventDefault(); // 防止表單提交
        alert('請為每個症狀選擇一個強度和接受苦的程度。');
    }else {
        if (isAuthenticated == 'True') {
            alert('已收到表單！');
        }else {
            alert('已收到表單！\n建議您登入帳號,方便紀錄您前一次的症狀來推薦您');
        }
        
    }
});



    var nosleep,semi_darkness,sneezing,itchiness,stomach_anger,menstrual_anguish,bitter_btn
    document.getElementById('submitButton').addEventListener('click', function() {
            // 發送請求到 Django 後端
            fetch('/question/', {
                method: 'GET',
                credentials: 'same-origin'  // 發送 Cookie
            })
            .then(response => {
                if (response.ok) {
                    console.log('成功发送请求');
                } else {
                    console.error('请求失败');
                }
            })
            .catch(error => console.error('Error:', error));
            
        });
    function updateStrength(buttonId) {
        switch (buttonId) {
            case 'symptom-btn-1': //睡不好
                nosleep=1;
                break;
            case 'symptom-btn-2':
                nosleep=2;
                break;
            case 'symptom-btn-3':
                nosleep=3;
                break;
            case 'symptom-btn-4':
                nosleep=4;
                break;
            case 'symptom-btn-5':
                nosleep=5;
                break;
            case 'semi-darkness-btn-1': //半暝還在嗨
                semi_darkness=1;
                break;
            case 'semi-darkness-btn-2':
                semi_darkness=2;
                break;
            case 'semi-darkness-btn-3':
                semi_darkness=3;
                break;
            case 'semi-darkness-btn-4':
                semi_darkness=4;
                break;
            case 'semi-darkness-btn-5':
                semi_darkness=5;
                break;
            case 'sneezing-btn-1': //早上哈啾
                sneezing=1;
                break;
            case 'sneezing-btn-2':
                sneezing=2;
                break;
            case 'sneezing-btn-3':
                sneezing=3;
                break;
            case 'sneezing-btn-4':
                sneezing=4;
                break;
            case 'sneezing-btn-5':
                sneezing=5;
                break;
            case 'itchiness-btn-1': //癢癢
                itchiness=1;
                break;
            case 'itchiness-btn-2':
                itchiness=2;
                break;
            case 'itchiness-btn-3':
                itchiness=3;
                break;
            case 'itchiness-btn-4':
                itchiness=4;
                break;
            case 'itchiness-btn-5':
                itchiness=5;
                break;
            case 'stomach-anger-btn-1': //胃生氣
                stomach_anger=1;
                break;
            case 'stomach-anger-btn-2':
                stomach_anger=2;
                break;
            case 'stomach-anger-btn-3':
                stomach_anger=3;
                break;
            case 'stomach-anger-btn-4':
                stomach_anger=4;
                break;
            case 'stomach-anger-btn-5':
                stomach_anger=5;
                break;
            case 'menstrual-anguish-btn-1': //厭世生理期
                menstrual_anguish=1;
                break;
            case 'menstrual-anguish-btn-2':
                menstrual_anguish=2;
                break;
            case 'menstrual-anguish-btn-3':
                menstrual_anguish=3;
                break;
            case 'menstrual-anguish-btn-4':
                menstrual_anguish=4;
                break;
            case 'menstrual-anguish-btn-5':
                menstrual_anguish=5;
                break;
            case 'bitterness-btn-yes':
                bitter_btn="True";
                break;
            case 'bitterness-btn-no':
                bitter_btn="False";
                break;
        }
        
        var expirationDate = new Date();
        expirationDate.setTime(expirationDate.getTime() + 600000); // 设置为当前时间的600秒後

        // 將過期時間轉換為 UTC 格式的字符串
        var expiresUTC = expirationDate.toUTCString();

        // 設置 Cookie，包括過期時間和路徑
        document.cookie = "nosleep=" + nosleep +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "semi_darkness=" + semi_darkness +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "sneezing=" + sneezing +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "itchiness=" + itchiness +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "stomach_anger=" + stomach_anger +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "menstrual_anguish=" + menstrual_anguish +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "bitter=" + bitter_btn +"; expires=" + expiresUTC + "; path=/question/";

        // 獲取當前按鈕和它的父元素
        var currentButton = document.getElementById(buttonId);
        var parent = currentButton.parentElement;

        // 清除同一個症狀下所有按鈕的顏色
        var buttons = parent.querySelectorAll('button');
        buttons.forEach(function(button) {
            button.classList.remove('active');
        });

        // 將當前按鈕標記為選擇狀態
        currentButton.classList.add('active');
    }

    function showAlert(){
        fetch('/question/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred.');
        });
    }
    
    function deleteCookie(cookieNames) {
             // 遍歷 cookie 名稱陣列
            cookieNames.forEach(function(cookieName) {
                // 將每個 cookie 的過期時間設定為過去的日期，使其被刪除
                // document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/question/';
            });
            // alert('Cookie 已刪除！');
        }

</script>
</body>
</html>