{% load my_filters %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選擇您的症狀</title>
    {% load static%}
    <link rel="stylesheet" href="question.css">
<style>
    
</style>
</head>
{% load static%}
<body>

    
   
        {% if request.user.is_authenticated %}
            {% csrf_token %}
                <p align="right">
                    顧客：{{request.user.customer_name}} 
                    <br>電話號碼：{{request.user.customer_id|mask_phone}} 
                    <br>您已經登入囉<br> 
                <a href="/accounts/logout/">登出</a>
            {% else %}
                您尚未登入喔~<a href="/accounts/login/">登入</a>
                若您還沒有帳號，請<a href="/accounts/register/">註冊</a></p>
            {% endif %}
        
    

            <h1>選擇您的症狀 (1症狀最輕 5症狀最重)</h1>  
        
<div class="container">
       
    <!-- 第一行 -->
<div class="row">
    
    <div class="item" id="symptom1"><!-- 表示症狀項目的整個區塊，具有獨特的ID -->

        <img src="{% static 'images/睡不好.jpg' %}" alt="Item 1"><!-- 顯示症狀的圖片，alt屬性提供圖片的替代文字描述 -->

        <div class="title">睡不好</div> 

        <!--症狀強度的五個按鈕。每個按鈕都有一個onclick事件，按鈕被點擊時，會調用updateStrength函式，並傳遞相應按鈕的ID作為參數。按鈕的文字內容分別是1到5，代表不同的強度程度。-->
        <button onclick="updateStrength('symptom-btn-1')" id="symptom-btn-1">1</button>
        <button onclick="updateStrength('symptom-btn-2')" id="symptom-btn-2">2</button>
        <button onclick="updateStrength('symptom-btn-3')" id="symptom-btn-3">3</button>
        <button onclick="updateStrength('symptom-btn-4')" id="symptom-btn-4">4</button>
        <button onclick="updateStrength('symptom-btn-5')" id="symptom-btn-5">5</button>
    </div>

    <div class="item" id="symptom2"><!-- 表示症狀項目的整個區塊，具有獨特的ID -->

        <img src="{% static 'images/半暝還在嗨.jpg' %}" alt="Item 2"><!-- 顯示症狀的圖片，alt屬性提供圖片的替代文字描述 -->
        
        <div class="title">半暝還在嗨</div>

        <!--症狀強度的五個按鈕。每個按鈕都有一個onclick事件，按鈕被點擊時，會調用updateStrength函式，並傳遞相應按鈕的ID作為參數。按鈕的文字內容分別是1到5，代表不同的強度程度。-->
        <button onclick="updateStrength('semi-darkness-btn-1')" id="semi-darkness-btn-1">1</button>
        <button result = main()  # 調用 main 函式獲取處理結果列表
        onclick="updateStrength('semi-darkness-btn-2')" id="semi-darkness-btn-2">2</button>
        <button onclick="updateStrength('semi-darkness-btn-3')" id="semi-darkness-btn-3">3</button>
        <button onclick="updateStrength('semi-darkness-btn-4')" id="semi-darkness-btn-4">4</button>
        <button onclick="updateStrength('semi-darkness-btn-5')" id="semi-darkness-btn-5">5</button>
    </div>
</div>

<!-- 第二行 -->
<div class="row">
    <div class="item" id="symptom3"><!-- 表示症狀項目的整個區塊，具有獨特的ID -->

        <img src="{% static 'images/早上哈啾.jpg' %}" alt="Item 3">
        <!-- 顯示症狀的圖片，alt屬性提供圖片的替代文字描述 -->

        <div class="title">早上哈啾</div>

        <!--症狀強度的五個按鈕。每個按鈕都有一個onclick事件，按鈕被點擊時，會調用updateStrength函式，並傳遞相應按鈕的ID作為參數。按鈕的文字內容分別是1到5，代表不同的強度程度。-->
        <button onclick="updateStrength('sneezing-btn-1')" id="sneezing-btn-1">1</button>
        <button onclick="updateStrength('sneezing-btn-2')" id="sneezing-btn-2">2</button>
        <button onclick="updateStrength('sneezing-btn-3')" id="sneezing-btn-3">3</button>
        <button onclick="updateStrength('sneezing-btn-4')" id="sneezing-btn-4">4</button>
        <button onclick="updateStrength('sneezing-btn-5')" id="sneezing-btn-5">5</button>
    </div>

    <div class="item" id="symptom4"><!-- 表示症狀項目的整個區塊，具有獨特的ID -->

        <img src="{% static 'images/癢癢.jpg' %}" alt="Item 4">
        <!-- 顯示症狀的圖片，alt屬性提供圖片的替代文字描述 -->

        <div class="title">癢癢</div>

        <!--症狀強度的五個按鈕。每個按鈕都有一個onclick事件，按鈕被點擊時，會調用updateStrength函式，並傳遞相應按鈕的ID作為參數。按鈕的文字內容分別是1到5，代表不同的強度程度。-->
        <button onclick="updateStrength('itchiness-btn-1')" id="itchiness-btn-1">1</button>
        <button onclick="updateStrength('itchiness-btn-2')" id="itchiness-btn-2">2</button>
        <button onclick="updateStrength('itchiness-btn-3')" id="itchiness-btn-3">3</button>
        <button onclick="updateStrength('itchiness-btn-4')" id="itchiness-btn-4">4</button>
        <button onclick="updateStrength('itchiness-btn-5')" id="itchiness-btn-5">5</button>
    </div>
</div>

<!-- 第三行 -->
<div class="row">
    <div class="item" id="symptom5">
        <!-- 表示症狀項目的整個區塊，具有獨特的ID -->

        <img src="{% static 'images/胃生氣.jpg' %}" alt="Item 5">
        <!-- 顯示症狀的圖片，alt屬性提供圖片的替代文字描述 -->

        <div class="title">胃生氣</div>

        <!--症狀強度的五個按鈕。每個按鈕都有一個onclick事件，按鈕被點擊時，會調用updateStrength函式，並傳遞相應按鈕的ID作為參數。按鈕的文字內容分別是1到5，代表不同的強度程度。-->
        <button onclick="updateStrength('stomach-anger-btn-1')" id="stomach-anger-btn-1">1</button>
        <button onclick="updateStrength('stomach-anger-btn-2')" id="stomach-anger-btn-2">2</button>
        <button onclick="updateStrength('stomach-anger-btn-3')" id="stomach-anger-btn-3">3</button>
        <button onclick="updateStrength('stomach-anger-btn-4')" id="stomach-anger-btn-4">4</button>
        <button onclick="updateStrength('stomach-anger-btn-5')" id="stomach-anger-btn-5">5</button>
    </div>

    <div class="item" id="symptom6">
        <!-- 表示症狀項目的整個區塊，具有獨特的ID -->

        <img src="{% static 'images/生理期.jpg' %}" alt="Item 6">
        <!-- 顯示症狀的圖片，alt屬性提供圖片的替代文字描述 -->
        
        <div class="title">厭世生理期</div>

        <!--症狀強度的五個按鈕。每個按鈕都有一個onclick事件，按鈕被點擊時，會調用updateStrength函式，並傳遞相應按鈕的ID作為參數。按鈕的文字內容分別是1到5，代表不同的強度程度。-->
        <button onclick="updateStrength('menstrual-anguish-btn-1')" id="menstrual-anguish-btn-1">1</button>
        <button onclick="updateStrength('menstrual-anguish-btn-2')" id="menstrual-anguish-btn-2">2</button>
        <button onclick="updateStrength('menstrual-anguish-btn-3')" id="menstrual-anguish-btn-3">3</button>
        <button onclick="updateStrength('menstrual-anguish-btn-4')" id="menstrual-anguish-btn-4">4</button>
        <button onclick="updateStrength('menstrual-anguish-btn-5')" id="menstrual-anguish-btn-5">5</button>
    </div>
</div>

        <!-- 確認按鈕 -->
        
            <button onclick="deleteCookie(['nosleep','semi_darkness','sneezing','itchiness','stomach_anger','menstrual_anguish'])" id="submitButton" style="background-color: #18b7fa; color: #ffffff; padding: 15px 30px; font-size: 20px;">確認</button>
        </div>

            <h1>問卷結果</h1>
            <ul>
                {% for item in result %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        

<script>
    var nosleep,semi_darkness,sneezing,itchiness,stomach_anger,menstrual_anguish
    document.getElementById('submitButton').addEventListener('click', function() {
            // 发送请求到 Django 后端
            fetch('/question/', {
                method: 'GET',
                credentials: 'same-origin'  // 发送同源 Cookie
            })
            .then(response => {
                if (response.ok) {
                    console.log('成功发送请求');
                } else {
                    console.error('请求失败');
                }
            })
            .catch(error => console.error('Error:', error));
        });
    function updateStrength(buttonId) {
        switch (buttonId) {
            case 'symptom-btn-1': //睡不好
                nosleep=1;
                break;
            case 'symptom-btn-2':
                nosleep=2;
                break;
            case 'symptom-btn-3':
                nosleep=3;
                break;
            case 'symptom-btn-4':
                nosleep=4;
                break;
            case 'symptom-btn-5':
                nosleep=5;
                break;
            case 'semi-darkness-btn-1': //半暝還在嗨
                semi_darkness=1;
                break;
            case 'semi-darkness-btn-2':
                semi_darkness=2;
                break;
            case 'semi-darkness-btn-3':
                semi_darkness=3;
                break;
            case 'semi-darkness-btn-4':
                semi_darkness=4;
                break;
            case 'semi-darkness-btn-5':
                semi_darkness=5;
                break;
            case 'sneezing-btn-1': //早上哈啾
                sneezing=1;
                break;
            case 'sneezing-btn-2':
                sneezing=2;
                break;
            case 'sneezing-btn-3':
                sneezing=3;
                break;
            case 'sneezing-btn-4':
                sneezing=4;
                break;
            case 'sneezing-btn-5':
                sneezing=5;
                break;
            case 'itchiness-btn-1': //癢癢
                itchiness=1;
                break;
            case 'itchiness-btn-2':
                itchiness=2;
                break;
            case 'itchiness-btn-3':
                itchiness=3;
                break;
            case 'itchiness-btn-4':
                itchiness=4;
                break;
            case 'itchiness-btn-5':
                itchiness=5;
                break;
            case 'stomach-anger-btn-1': //胃生氣
                stomach_anger=1;
                break;
            case 'stomach-anger-btn-2':
                stomach_anger=2;
                break;
            case 'stomach-anger-btn-3':
                stomach_anger=3;
                break;
            case 'stomach-anger-btn-4':
                stomach_anger=4;
                break;
            case 'stomach-anger-btn-5':
                stomach_anger=5;
                break;
            case 'menstrual-anguish-btn-1': //厭世生理期
                menstrual_anguish=1;
                break;
            case 'menstrual-anguish-btn-2':
                menstrual_anguish=2;
                break;
            case 'menstrual-anguish-btn-3':
                menstrual_anguish=3;
                break;
            case 'menstrual-anguish-btn-4':
                menstrual_anguish=4;
                break;
            case 'menstrual-anguish-btn-5':
                menstrual_anguish=5;
                break;
        }
        var expirationDate = new Date();
        expirationDate.setTime(expirationDate.getTime() + 600000); // 设置为当前时间的600秒後

        // 将过期时间转换为 UTC 格式的字符串
        var expiresUTC = expirationDate.toUTCString();

        // 设置 Cookie，包括过期时间和路径
        document.cookie = "nosleep=" + nosleep +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "semi_darkness=" + semi_darkness +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "sneezing=" + sneezing +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "itchiness=" + itchiness +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "stomach_anger=" + stomach_anger +"; expires=" + expiresUTC + "; path=/question/";
        document.cookie = "menstrual_anguish=" + menstrual_anguish +"; expires=" + expiresUTC + "; path=/question/";

        // 獲取當前按鈕和它的父元素
        var currentButton = document.getElementById(buttonId);
        var parent = currentButton.parentElement;

        // 清除同一個症狀下所有按鈕的顏色
        var buttons = parent.querySelectorAll('button');
        buttons.forEach(function(button) {
            button.classList.remove('active');
        });

        // 將當前按鈕標記為選擇狀態
        currentButton.classList.add('active');
    }
    function deleteCookie(cookieNames) {
             // 遍歷 cookie 名稱陣列
            cookieNames.forEach(function(cookieName) {
                // 將每個 cookie 的過期時間設定為過去的日期，使其被刪除
                // document.cookie = cookieName + '=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/question/';
            });
            

            // alert('Cookie 已刪除！');
        }



</script>
</body>
</html>
{% csrf_token %}