.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    width: 50%;
    max-width: 600px;
}
.form-container h1 {
    text-align: center;
}
.input-field {
    margin-bottom: 20px;
}
.error-message {
    color: red;
    margin-left: 10px;
}
.toggle-password {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* 清除預設的邊距 */
}
